body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
a:hover{
  color: #007199 !important;
  text-decoration: none !important;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

.homeBanner{
  z-index: 1;
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #00B1E1;
  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: auto;
}

.imagecircle{
  z-index: 1;
  position: absolute;
  background: transparent;
  top: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (min-height: 639px)
{
  .mailHome{
    color: white;
    display: block;
    height: 50px;
    padding: 0;
    margin: 0;
    z-index: 2;
    float: right !important;
  
    position: relative;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .mailHome i{
    width: 100%;
    height: 50px;
    vertical-align: middle;
    color: white;
  }
  
  .mailHome i::before{
    transform: scale(3.5);
    line-height: 50px;
    display: flex;
    vertical-align: bottom;
  }

  .centerAboutBox p{
    color: powderblue;
    font-family: open sans,sans-serif;
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: .5em;
  }

  .centerAboutBox a{
    color: white;
    font-weight: 600; 
    font-family: open sans,sans-serif;
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: .5em;
  }
}

@media screen and (max-height: 640px)
{
  .mailHome{
    color: white;
    display: block;
    height: 50px;
    padding: 0;
    margin: 0;
    z-index: 2;
    float: right !important;
  
    position: relative;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .mailHome i{
    width: 100%;
    height: 50px;
    vertical-align: middle;
    color: white;
    line-height: 3;
  }
  
  .mailHome i::before{
    transform: scale(3);
    display: flex;
    vertical-align: bottom;
  }

  .centerAboutBox p{
    color: powderblue;
    font-family: open sans,sans-serif;
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: .7em;
  }
}

@media screen and (max-width: 976px){
  .centerAboutBox{
    color: powderblue;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    top: 25%;
  }
  .buttonsHome
  {
    width: 25%;
    display: table-cell;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 20%;
    margin: auto;
    display: block;
  }

  .buttonsHome .buttonsHomeInner{
    float: left;
    width: fit-content;
    width: 100% !important;
    margin: auto auto !important;
  }

  .buttonsHome .buttonsHomeInner div{
    width: fit-content;
    margin: 0 auto;
  }

  .buttonsHome .buttonsHomeInner div a:hover{
    color: lightgray !important;
  }

  .mailHome{
    width: 100% !important;
    margin: auto auto !important;
  }
}
@media screen and (min-width: 977px){
  .buttonsHome
  {
    width: 150px;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 2em;
    margin: 0;
  }

  .buttonsHome .buttonsHomeInner{
    float: left;
    width: fit-content;
  }

  .buttonsHome .buttonsHomeInner div{
    width: fit-content;
  }

  .buttonsHome .buttonsHomeInner div a:hover{
    color: lightgray !important;
  }

  .centerAboutBox{
    color: powderblue;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60em;
    position: relative;
    top: 25%;
  }  
}

@media screen and (max-width: 767px) {
  .homeTitle{
    display: block;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: papayawhip;
    text-align: center;
    padding-top: 12px;
    top: calc(2% + 20vh);
    text-orientation: upright;
  }

  .centerAboutBox{
    color: powderblue;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    top: 25%;
    text-align: center;
  }

  footer{
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
    padding: 0;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.125);
    z-index: 2;
  }
  
  footer .leftFooter{
    float:left;
    bottom: 0;
    width: auto;
  }
  
  footer .rightFooter{
    float:right;
    bottom: 0;
    width: auto;
  }
  
  footer p{
    font-size: .75rem;
    display: inline-block;
  }
  
  footer a{
    text-decoration: none;
    display: inline-block;
  }
  
  footer i{
    color: rgb(255, 255, 255); 
    text-decoration: none;
    width: 1.28571429em;
    text-align: center;
    font-size: 1.33333333em;
    font: normal normal normal 14px/1 FontAwesome;
    vertical-align: -15%;
  
    cursor:pointer;
    display:inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height:12px;
    letter-spacing: 0.16px;
    line-height: 12px;
    text-align: center;
    text-rendering: auto;
    transform: matrix(1, 0, 0, 1, 0, 0);
    vertical-align: -15%;
    width: 20.5625px;
    -webkit-font-smoothing: antialiased;
  }
}
@media screen and (min-width: 768px) {
  .homeTitle{
    display: block;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    color: papayawhip;
    text-align: center;
    padding-top: 12px;
    top: calc(2% + 20vh);
    text-orientation: upright;
  }

  footer{
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.125);
    z-index: 2;
  }
  
  footer .leftFooter{
    float:left;
    bottom: 0;
    width: auto;
  }
  
  footer .rightFooter{
    float:right;
    bottom: 0;
    width: auto;
  }
  
  footer p{
    font-size: .75rem;
    vertical-align: -15%;
    display: inline-block;
  }
  
  footer a{
    text-decoration: none;
    display: inline-block;
  }
  
  footer i{
    color: rgb(255, 255, 255); 
    text-decoration: none;
    width: 1.28571429em;
    text-align: center;
    font-size: 1.33333333em;
    line-height: .75em;
    font: normal normal normal 14px/1 FontAwesome;
    vertical-align: -15%;
  
    cursor:pointer;
    display:inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height:12px;
    letter-spacing: 0.16px;
    line-height: 12px;
    text-align: center;
    text-rendering: auto;
    transform: matrix(1, 0, 0, 1, 0, 0);
    vertical-align: -15%;
    width: 20.5625px;
    -webkit-font-smoothing: antialiased;

    transform: scale(1.5);
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
  font-family: open sans,sans-serif;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}